################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug
/.vs/DeckOfCardsGame
/obj/Debug
/.vs
/DeckOfCardsGame.API/obj
/DeckOfCardsGame.Common/obj
/obj/Docker
/DeckOfCardsGame.DAL/obj
/DeckOfCardsGame.API/bin/Debug/net6.0
/DeckOfCardsGame.Common/bin/Debug/net6.0
/DeckOfCardsGame.DAL/bin/Debug/net6.0
