################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug
/.vs/DeckOfCardsGame
/obj/Debug
/.vs
/DeckOfCardsGame.API/obj
/DeckOfCardsGame.Common/obj
/obj/Docker
/DeckOfCardsGame.DAL/obj
